<%- include("../includes/header.ejs", {title:"accounts - " + result[0].email}); %>
<h1>Accounts</h1>
<ul>
    <li>Email: <%= result[0].email %></li>

</ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>