<%- include("../includes/header.ejs", {title: "Update " + account.email}); %>

<h1>Update <%= account.email%></h1>
<form action="/account/update" method="get">
    <input type="hidden" id="account_id" name="account_id" value="<%= account.account_id %>">
    Email: <input id="email" name="email" type="text" value="<%= account.email%>"/>
    <br />
    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>