<%- include("../includes/header.ejs", {title:"skills - " + result[0].skill_name}); %>
<h1>Skills</h1>
<ul>
    <li>Skill Name: <%= result[0].skill_name %></li>

</ul>

<a href="/skill/all"><< back</a>

<%- include("../includes/footer.ejs"); %>