<%- include("../includes/header.ejs", {title:"address - " + result[0].street}); %>
<h1>Address</h1>
<ul>
    <li>Street: <%= result[0].street %></li>

</ul>

<a href="/address/all"><< back</a>

<%- include("../includes/footer.ejs"); %>